html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background: url('fondo.jpg');

}

#nav_drawer{
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        background: #f3df9ecc;
}

#nav_drawer #logo{
    height: 20px;
    text-align: center;
    font-weight: bold;
}


#nav_drawer #menu{
    margin:auto;
}

#nav_drawer #menu .menu_item{
    height: 10%;
    background: #f1ebdacc;
    width: 102%;
    border: 1px solid cornsilk;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    margin:5px;
    margin-left: 0;
    font-weight: bold;
    font-size: 2vh;
}

#nav_drawer #menu .menu_item:hover{
    background: #47e94fcc;
    width: 102;
    color:antiquewhite;
}

#nav_drawer #menu #buttonreg_nav{
    background: cornsilk;
    border: 1px solid #2be271cc;
}

#nav_drawer #menu #buttonreg_nav:hover{
    background: rgb(59, 230, 44);
    width: 102%;
    color:rgb(5, 5, 5);
}

#formRegistro{
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    background-image: linear-gradient(#f3df9ecc, #a8840ccc);
}

input, textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;
}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}

.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.btn-green{
	color: white;
	background-color: #3CC93F;
}
.btn-green:hover{
	background-color: #37B839;	
}
.btn-green:active{
	background-color: #29962A;
}

.campo {
    color: black;
}

